header, footer {
    padding: 16px;
    display: flex;
    justify-content: center;
    border-radius: 32px;
    flex-wrap: wrap;
    margin: 32px;
    border: #242124 solid 4px;
}
header {
    background-color: #202c41;
    font-weight: bolder;
}
footer {
    background-color: #C1C0EB;
}

header *, footer * {
    margin: 8px;
    align-items: center;
    justify-content: center;
}

header a {
    background-color: #C1C0EB;
    padding: 8px;
    color: black;
    border-radius: 32px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    transition: 0.3s;

}
header a:hover {
    background-color: white;
}

header a * {
    margin: 4px;
}
header a img {
    width: 24px;
    height: 24px;
}

/* Indicator for whether commissions are OPEN or CLOSED */
.indicator {
    background-color: #202c41;
    width: 32px;
    height: 16px;
    border-radius: 32px;
}

.tooltip {
    display: none;
    z-index: 2;
    position: relative;
    background-color: black;
    color: white;
    top: calc(200% + 6px);
    left: -250%;
    padding: 16px;
    border-radius: 16px;
}
.tooltip.closed {
    left: -190%;
}
.indicator:hover .closed .tooltip.closed {
    display: inline;
}
.indicator:hover .open .tooltip.open {
    display: inline;
}

.indicator > .open {
    background-color: rgb(34, 206, 0);
    width: 16px;
    height: 16px;
    margin: 0;
    border-radius: 64px;
    position: relative;
    right: -16px;
}
.indicator > .closed {
    background-color: red;
    width: 16px;
    height: 16px;
    margin: 0;
    border-radius: 64px;
    position: relative;
}

/* SOCIAL LINKS AND STUFF */
.link {
    width: 48px;
    height: 48px;
    display: inline-block;
    transition: 0.3s;
}
.bluesky {
    background: url(/res/img/ico/bluesky256.png) no-repeat center;
    background-size: contain;
    
}
.bluesky:hover {
    filter: invert(100%)
}
.twitter {
    background: url(/res/img/ico/twitter256.png) no-repeat center;
    background-size: contain;
    
}
.twitter:hover {
    filter: invert(100%)
}
.fa {
    background: url(/res/img/ico/fa256.png) no-repeat center;
    background-size: contain;
    
}
.fa:hover {
    filter: invert(100%)
}
.kofi {
    background: url(/res/img/ico/kofi256.png) no-repeat center;
    background-size: contain;
    
}
.kofi:hover {
    filter: invert(100%)
}
.discord {
    background: url(/res/img/ico/discord256.png) no-repeat center;
    background-size: contain;
    
}
.discord:hover {
    filter: invert(100%)
}
.pat {
    background: url(/res/img/ico/patreon256.png) no-repeat center;
    background-size: contain;
    
}
.pat:hover {
    filter: invert(100%)
}
