html, body {
    height: 100%;
    background: url(/res/img/art/home/back.png) no-repeat;
    background-position: right -8vw bottom 30%;
    background-color: #242124;
    background-attachment: fixed;
    min-height: 75vh;
}

img.site {
    height: 100%;
    width: 200px;
}

/* Medium Devices, such as tablets */
@media only screen and (max-width: 1024px) {
    html, body {
        background-position: right 10% bottom 30%;
    }
}

/* Small Devices, such as phones */
@media only screen and (max-width: 768px) {
    html, body {
        background-position: right 20% bottom 30%;
    }
}