.navbar {
    background-color: #202c41;
    padding: 16px;
    display: flex;
    justify-content: center;
    margin: 32px;
    border-radius: 32px;
    font-weight: bolder;
}

.navbar * {
    margin: 8px;
    align-items: center;
    justify-content: center;
}

.navbar.light {
    background-color: #C1C0EB;
}

a {
    background-color: #C1C0EB;
    padding: 8px;
    color: black;
    border-radius: 32px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    transition: 0.3s;

}

a:hover {
    background-color: white;
}

.navbar a * {
    margin: 4px;
}

.navbar a img {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

/* Indicator for whether commissions are OPEN or CLOSED */
.indicator {
    background-color: orange;
    width: 32px;
    height: 16px;
    border-radius: 32px;
}

.indicator .tooltip {
    visibility: hidden;
    z-index: 1;
    position: relative;
    background-color: black;
    color: white;
    top: calc(200% + 16px);
    left: calc(-50% - 16px);
    padding: 16px;
    border-radius: 16px;
}

.indicator:hover .tooltip {
    visibility: visible;
}

.indicator.open {
    background-color: greenyellow;
}

.indicator.closed {
    background-color: red;
}

/* SOCIAL LINKS AND STUFF */
.link {
    width: 32px;
    height: 32px;
    display: inline-block;
    transition: 0.3s;
}
.bluesky {
    background: url(/images/icon/bluesky-icon.png) no-repeat center;
    background-size: contain;
    
}
.bluesky:hover {
    background: url(/images/icon/bluesky-icon-hover.png) no-repeat center;
    background-size: contain;
}
.twitter {
    background: url(/images/icon/twitter-icon.png) no-repeat center;
    background-size: contain;
    
}
.twitter:hover {
    background: url(/images/icon/twitter-icon-hover.png) no-repeat center;
    background-size: contain;
}
.fa {
    background: url(/images/icon/fa-icon.png) no-repeat center;
    background-size: contain;
    
}
.fa:hover {
    background: url(/images/icon/fa-icon-hover.png) no-repeat center;
    background-size: contain;
}
.kofi {
    background: url(/images/icon/kofi-icon.png) no-repeat center;
    background-size: contain;
    
}
.kofi:hover {
    background: url(/images/icon/kofi-icon-hover.png) no-repeat center;
    background-size: contain;
}
.discord {
    background: url(/images/icon/discord-icon.png) no-repeat center;
    background-size: contain;
    
}
.discord:hover {
    background: url(/images/icon/discord-icon-hover.png) no-repeat center;
    background-size: contain;
}
.pat {
    background: url(/images/icon/patreon-icon.png) no-repeat center;
    background-size: contain;
    
}
.pat:hover {
    background: url(/images/icon/patreon-icon-hover.png) no-repeat center;
    background-size: contain;
}