a, button{
    background: #C1C0EB;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
    min-width: fit-content;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    align-content: center;
}
a img, button img{
    max-width: 16px;
    float: left;
    user-select: none;
}
a:hover, button:hover {
    background: #FFF;
}

a.dark {
    background: #242124;
    color: white;
    
}
a.dark:hover {
    background: #C3703A;
    color: black;
    scale: 1.05;
}

a.form {
    width: 80%;
    text-align: center;
}

@media screen and (max-width: 700px) {
    a, a.form {
        width: 90%;
        margin: 5px;
        text-align: center;
    }
}