.backart {
    background: url(/images/art/home/back.png) no-repeat;
    background-color: #242124;
    min-height: 75vh;
    background-position: center right 20%;
    text-shadow: 0 0 10px #242124,
        0 0 10px #242124,
        0 0 10px #242124;
}

@media screen and (max-width: 700px) {
    .backart {
        display: flex;
        min-height: 50vh;
        background-size: 300vw;
        background-position: center right 18%;
    }
}