html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #242124;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
    text-align: center;
}